
<ul>
  <li><a href="http://localhost:3000/home">Home</a></li>
  <li><a href="http://localhost:3000/about">About</a></li>
  <li><a href="http://localhost:3000/movies">Movies</a></li>
  <li><a href="http://localhost:3000/actors">Actors</a></li>
  <li><a href="http://localhost:3000/genres">Genres</a></li>
  <li><a href="http://localhost:3000/directors">Directors</a></li>
  <li><a href="http://localhost:3000/search">Search</a></li>
</ul>

<h1>Genres</h1>


<%= paginate @genres%>
<% movie_genres = @genres %>
<table>
<tr>
    <th>Name</th>
    <th>Movies</th>
    <th>Link </th>
<tr>

<% movie_genres.each do |genre| %>
  <tr>
    <td><%= genre.name %></td>
    <% number = genre.movies.count %>
    <td><%= number %></td>
    <% if number == 1 %>
      <td><%= link_to "See movie" ,genre%>
    <% else %>
    <td><%= link_to "See movies" , genre%>
    <% end %>    
  </tr>
<% end %>

<table>