
<h1><%= @genre.name%> Movies</h1>

<% genre_details = @genre%>

<table>
<tr>
    <th>
        Image
    </th>
    <th>
        Movie Name
    </th>
    <th>
        Link
    </th>
</tr>
<% genre_details.movies.each do |genre| %>

<tr>
    <td><img src="<%=genre.image.name%>" alt="<%= genre.title %> Poster " onerror="this.src='/assets/not_found.png'" height="100" width="100"></td>
    <td><p><%= genre.title%></p></td>
    <td><%= link_to "See movie" , genre%></td>

</tr>
  
<% end %>
</table>