<h1>Actors</h1>

<%= paginate @actors%>
<% all_actors = @actors%>

<table>
<tr>
<th>Name</th>
<th>Movies Acted in</th>
<th>Link</th>
</tr>
<% all_actors.each do |actor| %>
  
    <tr>
        <td><%=actor.name%></td>
        <td><%=actor.movies.count%>
        <% if actor.movies.count == 1 %>
          <td><%=link_to "See Actor Movie" , actor%></td>
          <% else %>
          <td><%=link_to "See Actor Movies" , actor%></td>
        <% end %>
    </tr>

<% end %>

</table>