
<% actor_info = @actor%>
<% if actor_info.movies.count ==  1%>
    <h1><%= actor_info.name%>'s Movie</h1>
<%  else %>
    <h1><%= actor_info.name%>'s Movies</h1>
<% end %>

<table>
<tr>
    <th>Image</th>
    <th>Movie Name</th>
    <th>Link</th>
</tr>

<% actor_info.movies.each do |movie| %>
<tr>
    <td><img src="<%=movie.image.name%>" alt="<%= movie.title %> Poster" onerror="this.src='/assets/not_found.png'" height="100" width="100"></td>
    <td><p><%= movie.title%></p></td>
    <td><p><%= link_to "See movie details" , movie%></p></td>
</tr>
<% end %>


</table>