<div>
<% if @movies.empty? %>
  <h1>No movie found.</h1>
<% elsif @movies.size == 1 %>
  <h1><%= @movies.size %> Movie Found. </h1>
  <% else %>
  <h1><%= @movies.size %> Movies Found. </h1>
<% end %>

<% if @movies.empty? %>
    <p>No Results to show.</p>
<% else %>

<%= paginate @movies%>
</div>
<table>
<tr>
    <th>Image</th>
    <th>Movie</th>
</tr>

<% @movies.each do |movie| %>
<tr>
    <td>
        <img src="<%=movie.image.name%>" alt="<%= movie.title %> Poster " onerror="this.src='/assets/not_found.png'" height="100" width="100">
    </td>
    <td>
        <p>
            <%= link_to movie.title , movie %>
        </p>
    <td>
<tr>
<% end %>
</table>
<% end %>