
<div>
<h1>Bollywood Movies</h1>
<%= paginate @movies%>
</div>
<table>
<tr>
    <th>Poster</th>
    <th>Movie</th>
    <th>Release Date</th>
    <th>Year</th>
    <th>Imdb Rating</th>
    <th>Link</th>
</tr>
<% bollywood_movies = @movies %>
<% bollywood_movies.each do |movie| %>

<% image_movie = movie.image.name %>

<tr>
    <td><img src="<%=image_movie%>" alt="<%= movie.title %> Poster " onerror="this.src='/assets/not_found.png'" height="100" width="100"></td>
    <td><%= movie.title%></td>
    <td><%= movie.release_date%></td>
    <td><%= movie.year%></td>
    <td><%= movie.imdb%></td>
    <td><%= link_to "Go to Movie" , movie%></td>
</tr>


<% end %>

<table>
