<ul>
  <li><a href="http://localhost:3000/home">Home</a></li>
  <li><a href="http://localhost:3000/about">About</a></li>
  <li><a href="http://localhost:3000/movies">Movies</a></li>
  <li><a href="http://localhost:3000/actors">Actors</a></li>
  <li><a href="http://localhost:3000/genres">Genres</a></li>
</ul>


<h1>Movie Details</h1>
<%# <p>Find me in app/views/movies/show.html.erb</p> %>
<% movie = @movie%>

<p><img src="<%=movie.image.name%>" alt="<%= movie.title %> Poster " height="300" width="200"></p>
<p><b>Movie Name: </b><%=movie.title%></p>
<p><b>Year: </b><%=movie.year%></p>
<p><b>Plot: </b><%=movie.story_line%></p>
<p><b>Release Date: </b><%=movie.release_date%></p>
<p><b>Imdb Rating: </b><%=movie.imdb%></p>
<p><b>Movie Director: </b><%=movie.director.name%></p>
<p><b>Actors: </b></p>
<% movie.actors.each do |actor_name| %>
<p><%= link_to actor_name.name, actor_name%><p>
<%end%>
<p><b>Genres: </b></p>
<% movie.genres.each do |genre_name|%>
<p><%= genre_name.name%></p>
<%end%>