
<% movie = @movie%>
<% movie_image = movie.image.name%>

<div>
<h1>Movie Details</h1>
<p><img src="<%=movie_image%>" alt="<%= movie.title %>" onerror="this.src='/assets/sorry.png'" height="300" width="200"></p>
<p><b>Movie Name: </b><%=movie.title%></p>
<p><b>Year: </b><%=movie.year%></p>

<% plot = movie.story_line %>
<% if plot.include? "Written" %>
  <% new_plot = plot.slice(0..(plot.index('Written'))) %>
  <p class = "story"><b>Story Line: </b><%= new_plot.remove("W")%></p>
<% else %>
  <p class = "story"><b>Story Line: </b><%= plot%></p>
<% end %>

<p><b>Release Date: </b><%=movie.release_date%></p>
<p><b>Imdb Rating: </b><%=movie.imdb%></p>
<p><b>Movie Director: </b><%=movie.director.name%></p>
<p><b>Actors: </b></p>

<% movie.actors.each do |actor_name| %>
<p><%= link_to actor_name.name, actor_name%><p>
<%end%>
<p><b>Genres: </b></p>
<% movie.genres.each do |genre_name|%>
<p><%= genre_name.name%></p>
<%end%>
</div>
