<!DOCTYPE html>
<html>
  <head>
    <title>Bollywood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header> 
      <h1>Bollywood</h1>
    </header>
    <div>
      <ul>
            <li><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/about">About</a></li>
            <li><a href="http://localhost:3000/movies">Movies</a></li>
            <li><a href="http://localhost:3000/actors">Actors</a></li>
            <li><a href="http://localhost:3000/genres">Genres</a></li>
            <li><a href="http://localhost:3000/directors">Directors</a></li>
            <li><a href="http://localhost:3000/search">Search</a></li>
          </ul>

          <%= form_tag(results_search_index_path, method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= collection_select(:query_genre , :genre_id , Genre.all.order(:name), :id ,:name,{:include_blank => 'Movie Title'})%>
            <%= submit_tag("Search") %>
          <% end %>
    </div>
    <%= yield %>
  </body>
</html>
