<!DOCTYPE html>
<html>
  <head>
    <title>The Movie Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">

  </head>

  <body>
    <header id="app">
      <h1>The Movie Hub</h1>
    </header>
    <nav id = "nav">
          <ul id="list">
            <li><a href="http://localhost:3000/home">Home</a></li>
            <li><a href="http://localhost:3000/about">About</a></li>
            <li><a href="http://localhost:3000/movies">Movies</a></li>
            <li><a href="http://localhost:3000/actors">Actors</a></li>
            <li><a href="http://localhost:3000/genres">Genres</a></li>
            <li><a href="http://localhost:3000/directors">Directors</a></li>
          </ul>
    </nav>
    <div id = "search">
          <%= form_tag(results_search_index_path, method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= collection_select(:query_genre , :genre_id , Genre.all.order(:name), :id ,:name,{:include_blank => 'Movie Title'})%>
            <%= submit_tag("Search") %>
          <% end %>
    </div>
    
    <%= yield %>
     <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">The Movie Hub 2018</p>
      </div>
    </footer>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
